.fa-bitcoin:before { content: "\f001"; }
.fa-ethereum:before { content: "\f002"; }
.fa-user:before { content: "\f003"; }
.fa-circle:before { content: "\f004"; }
.fa-link:before { content: "\f005"; }
.fa-edit:before { content: "\f006"; }
.fa-trash-alt:before { content: "\f007"; }
.fa-gas-pump:before { content: "\f008"; }
.fa-stream:before { content: "\f009"; }
.fa-plus:before { content: "\f00a"; }
.fa-angle-double-left:before { content: "\f00b"; }
.fa-heart:before { content: "\f00c"; }
.fa-comment:before { content: "\f00d"; }
.fa-bookmark:before { content: "\f00e"; }
.fa-bolt:before { content: "\f00f"; }
.fa-fire:before { content: "\f010"; }
.fa-facebook-f:before { content: "\f011"; }
.fa-twitter:before { content: "\f012"; }
.fa-bl0k:before { content: "\f013"; }
.fa-bl0k-mini:before { content: "\f014"; }
.fa-bl0k-new:before { content: "\f015"; }