@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../node_modules/typeface-inter/inter.css";
@import "../node_modules/jsondiffpatch/dist/formatters-styles/annotated.css";
@import "../node_modules/jsondiffpatch/dist/formatters-styles/html.css";
//@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/filepond/dist/filepond.css";

article .content a:not(.bl0k-comments-link) {
  color: #bd243d;
  font-weight: 600;
}
article .content strong {
  color: #333;
}

article .content .bl0k-article-source {
  font-weight: normal !important;
}

.prose hr { 
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.bl0k-comment .bl0k-comment-control,
article .bl0k-article-control {
  //display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.bl0k-comment:hover .bl0k-comment-control,
article:hover .bl0k-article-control {
  //display: block;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}
.bl0k-comment-content a {
  color: #bd243d;
}
.bl0k-comment-content a:hover {
  text-decoration: underline;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.bl0k-dropdown-wrap.no-hidden:hover > .bl0k-dropdown {
  display: block;
}

@font-face {
  font-family: 'bl0k-icons';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("./assets/css/bl0k-icons.eot");
  src: url("./assets/css/bl0k-icons.eot?#iefix") format("embedded-opentype"), url("./assets/css/bl0k-icons.woff2") format("woff2"), url("./assets/css/bl0k-icons.woff") format("woff"), url("./assets/css/bl0k-icons.ttf") format("truetype"), url("./assets/css/bl0k-icons.svg#fontawesome") format("svg"); }

.fa,
.fab,
.far,
.fas,
.fax
{
  font-family: 'bl0k-icons';
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  //vertical-align: -1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import "./assets/css/bl0k-icons.css";

